.card {
  background: #ffffff93;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.45);
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.card p {
  font-size: 1.1rem;
}

.card h3 {
  font-size: 2rem;
  margin-bottom: .5em;
}

.card p:last-of-type {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .card p {
    font-size: 1rem;
  }

  .card {
    padding: 2rem 2.5rem;
  }
}